<!DOCTYPE html>
<html lang="en">
<head>
  <title>One Word Story</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-3">
  <h2>One Word Story</h2>
  <br>
  <form method=post name="textForm" id="textForm" enctype=multipart/form-data>
    {%for item in words %} <p>{{item}}</p> {% endfor %}
    {%for item in errors %} <p class="text-danger">{{item}}</p> {% endfor %}
    <p id="count" hidden>0</p>
    <p id="description">Start a story...</p>
    <div class="form-group">
      <textarea class="form-control" id="textField" name="textInput", rows="1" autofocus></textarea>
    </div>
    <div class="mt-3">
      <button id="button" type="submit" name="Click", value="Upload" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    document  
      .getElementById('textForm')
      .addEventListener('submit', handleForm);
  });
  document.addEventListener("keydown", function(event) {
        // Execute a function when the user releases a key on the keyboard
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
          // Cancel the default action, if needed
          event.preventDefault();
          // Trigger the button element with a click
          document.getElementById("button").click();
        }})
  
  var input = document.getElementById("myInput");

  function handleForm(ev) {
    ev.preventDefault(); //stop the page reloading
    //console.dir(ev.target);
    let myForm = ev.target;
    let fd = new FormData(myForm);
    //add more things that were not in the form
    fd.append('context', document.getElementById("description").innerHTML);
    fd.append('count', document.getElementById("count").innerHTML);
    let json = convertFD2JSON(fd);
    console.log(json)
    //send the request with the formdata
    let url = 'http://localhost:5000/v1/predict/language_model';
    let h = new Headers();
    h.append('Content-type', 'application/json');
    let req = new Request(url, {
      headers: h,
      body: json,
      method: 'POST',
    });
    //console.log(req);
    fetch(req)
      .then((res) => res.json())
      .then((data) => {
        document.getElementById("description").innerHTML = data.predictions;
        document.getElementById("count").innerHTML = data.count;
        console.log("Response", data)})
      .then(document.getElementById("textField").value = "")
      .catch(console.warn);
  }
  function convertFD2JSON(formData) {
    let obj = {};
    for (let key of formData.keys()) {
      obj[key] = formData.get(key);
    }
    return JSON.stringify(obj);
  }
</script>

</body>
</html>
